.card {
    position: fixed;
    bottom: 0;
    right: 0;
    // width: 100%;
    z-index: 999;
    height: 40px;
    border-radius: 4px 4px 0 0;
    background-color: white;
}
.arco-page-header {
    padding: 0;
}
.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    &-btn {
        margin-left: 0.4vw;
    }
}